.dropdown.privacy-dropdown
  - privacy = group.is_visible_to_public? ? 'public' : 'private'
  %span#privacy
    - image_html = image_tag("privicon_"+privacy+".png", alt: privacy, :id => 'privacy-image')
    - if can? :edit, group
      = link_to image_html, edit_group_path(group)
    - else
      = image_html
