.container
  .row-fluid
    .span12
      %section.first
        .inner-container
          %h1 Power-ups
          .subtitle By buying power-ups, you can help us to keep giving Loomio to thousands of community groups free of charge.

          .row-fluid
            .package.span6
              .package-titlearea
                %h2 Custom domain
                .package-price $50USD
              .package-content
                %p
                  A custom domain makes your group a lot easier to share.
                %p
                  Your group url will look like
                  %code community.loomio.org
                  instead of
                  %code loomio.org/g/WmPCB3IR/loomio-community
                .package-btn
                  = link_to "#" do
                    .package-btn-main
                      Order now